html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #84c5ed;
}

h1{
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  color: white;
}



button {
  background-color: #62b8ea;
  color: white;
  font-size: 90px;
  padding: 10px;
  width: 33%;
  border-radius: 15px;
}

button:hover{
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}



video {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 60%;
  width: 90%;
  padding: 10px;
}